* {
  font-family: sans-serif;
}

body {
  background: linear-gradient(90deg, black, purple);
}

#content { /* White Section */
  background: white;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 4rem;
  border-radius: 1rem;
}

.intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  height: 10rem;
}

.intro-text > span {
	height: 100%;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.intro-text > span > span {
	display: inline-block;
  position: relative;
  font-size: 4rem;
  text-shadow: 10px 15px 30px rgba(0,0,0,0.2);
}

.intro-text > span > span:nth-of-type(1) {
	left: 0;
  z-index: 1;
  color: #0019A4;
}
.intro-text > span > span:nth-of-type(2) {
	left: 0;
  z-index: 2;
  animation: animate 3s linear alternate infinite;
}
.intro-text > span > span:nth-of-type(3) {
	left: 0;
  z-index: 1;
  color: #0019A4;
}
.intro-text > span > span:nth-of-type(4) {
	left: 0;
  z-index: 3;
  animation: animate 3s linear alternate-reverse infinite;
}
.intro-text > span > span:nth-of-type(5) {
	left: 0;
  color: #0019A4;
  z-index: 1;
}
.intro-text > span > span:nth-of-type(6) {
	left: 0;
  z-index: 2;
  animation: animate 3s linear alternate infinite;
}
.intro-text > span > span:nth-of-type(7) {
	left: 0;
  top: -20px;
  font-size: 6rem;
  color: #000C7A;
  z-index: 3;
  animation: animate 3s linear alternate-reverse infinite;
}
.intro-text > span > span:nth-of-type(8) {
	left: 0;
  z-index: 1;
}
.intro-text > span > span:nth-of-type(9) {
	left: 0;
  z-index: 3;
  color: #0019A4;
  animation: animate 3s linear alternate infinite;
}
.intro-text > span > span:nth-of-type(10) {
	left: 0;
  z-index: 1;
}
.intro-text > span > span:nth-of-type(11) {
	left: 0;
  z-index: 2;
  color: #0019A4;
  animation: animate 3s linear alternate-reverse infinite;
}

@keyframes animate {
  0%{transform:translateY(10px);}
  100%{transform:translateY(-10px);}
}

/* eightball animation shake */
#eightball {
  color: white;
  margin: auto;
  margin-top: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.2s;
  animation-iteration-count: 10;
  animation-timing-function: linear;
}

#magic8ball {
  position: relative;
  width: 100%;
  animation-duration: 0.2s;
  animation-iteration-count: 10;
  animation-timing-function: linear;
}

@keyframes shake {
  0% { left: 0; }
 25% { left: 12px; }
 50% { left: 0; }
 75% { left: -12px; }
100% { left: 0; }
}

#answer {
  position: absolute;
  width: 8%;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
  text-shadow:0.009rem 0.009rem 0.75rem #fff;
  
}


/* Media Queries */
/* 1920px Width (landscape) ----------- */
@media only screen 
and (min-device-width : 1000px) 
and (max-device-width : 1920px) {
/* Styles */
.intro-text > span > span {
  font-size: 4rem;
}
}

/* Custom (landscape) ----------- */
@media only screen 
and (min-device-width : 750px) 
and (max-device-width : 1000px) {
/* Styles */
.intro-text > span > span {
  font-size: 3rem;
}
}